<footer>
  <nav class="nav-footer flex bg-dark-grey-blue">
    <a routerLink="/"
      ><img
        class="footer-logo-img"
        src="../../assets/img/common/logo.svg"
        alt="Company Logo"
    /></a>
    <div class="nav-footer-links">
      <ul class="nav-footer-links-ul flex">
        <li><a class="nav-footer-links-a" routerLink="/">Home</a></li>
        <li><a class="nav-footer-links-a" routerLink="/aboutus">About us</a></li>
        <li>
          <a class="nav-footer-links-a" routerLink="/createplan">Create your plan</a>
        </li>
      </ul>
    </div>
    <div class="social-media-links flex">
      <a href="#">facebook</a>
      <a href="#">twitter</a>
      <a href="#">instagram</a>
    </div>
  </nav>
</footer>
