  <footer class="footer ">
    <div class="footer__box">
      <a href="/" class="footer__link">
        <img class="footer__logo" src="../../assets/img/common/logo.svg" alt="company coffeeroasters">
      </a>
      <nav class="footer__nav">
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" routerLink="/">Home</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" routerLink="/aboutus">About US</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" routerLink="/createplan">Create your plan</a>
          </li>
        </ul>
      </nav>
      <ul class="footer__redes">
        <li>
          <!-- <ion-icon name="logo-facebook"></ion-icon> -->
        </li>
        <li>
          <!-- <ion-icon name="logo-twitter"></ion-icon> -->
        </li>
        <li>
          <!-- <ion-icon name="logo-instagram"></ion-icon> -->

        </li>
      </ul>
    </div>
  </footer>
