<app-navbar></app-navbar>
<main>
  <section class="about-img hero-section border-radius-10 text-cream">
    <div class="hero-section-text flow">
      <h1 class="hero-section-text-h2 ff-fraunces">About Us</h1>
      <p class="hero-section-text-p">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dolor
        quia atque ducimus culpa eos numquam est nemo ea vitae, ut voluptatum
        neque. Debitis dolor in minima, odio ipsam amet.
      </p>
    </div>
  </section>

  <section class="our-commitment flex">
    <picture class="our-commitment-picture">
      <img
        class="our-commitment-img"
        src="../../assets/img/aboutUs/image-commitment.jpg "
        alt=""
      />
    </picture>
    <div class="our-commitment-text">
      <h2 class="our-commitment-text-h2 ff-fraunces">Our Commitment</h2>
      <p class="our-commitment-text-p">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
        dolore tempore beatae, nostrum impedit quis ea alias ab voluptates
        provident corrupti? Nemo provident cupiditate ad sequi quam quaerat ipsa
        maiores.
      </p>
    </div>
  </section>

  <section class="quality text-cream">
    <picture class="quality-picture">
      <img
        class="quality-img"
        src="../../assets/img/aboutUs/image-quality.jpg"
        alt=""
      />
    </picture>
    <div class="bg-dark-grey-blue border-radius-10">
      <div class="quality-text flow">
        <h2 class="quality-h2 ff-fraunces">Uncompromising quality</h2>
        <p class="quality-p">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
          amet. Ea, placeat atque itaque maxime porro quis sequi fugiat, ipsum
          distinctio laborum facere odio culpa recusandae inventore illo quas
          numquam?
        </p>
      </div>
    </div>
  </section>

  <section class="our-headquarters three-item-layout">
    <h2 class="ff-fraunces text-grey">Our headquarters</h2>
    <div class="three-item-layout-container about flex">
      <div class="three-item-layout-item flow">
        <img
          class="our-headquarters-img"
          src="../../assets/img/aboutUs/illustration-uk.svg"
        />
        <h3 class="ff-fraunces fs-600">United Kingdom</h3>
        <address>
          68 Asfordby Rd<br />
          Alcaston<br />
          SY61YA<br />
          +44 1241918425
        </address>
      </div>
      <div class="three-item-layout-item flow">
        <img
          class="our-headquarters-img"
          src="../../assets/img/aboutUs/illustration-canada.svg"
        />
        <h3 class="ff-fraunces fs-600">Canada</h3>
        <address>
          1528 Eglinton Avenue<br />
          Toronto<br />
          Ontario<br />
          +1 416 485 2997
        </address>
      </div>
      <div class="three-item-layout-item flow">
        <img
          class="our-headquarters-img"
          src="../../assets/img/aboutUs/illustration-australia.svg"
        />
        <h3 class="ff-fraunces fs-600">Australia</h3>
        <address>
          36 Swanston Street<br />
          Kewell<br />
          Victoria<br />
          +61 4 9928 3629
        </address>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
