  <header class="header m-2" data-header>
    <nav class="header__nav flex flex-row justify-between">
      <a routerLink="/">
        <img class="header__logo p-2" src="../../assets/img/common/logo.svg"
          alt="logo written coffeeroasters with a green icon">
      </a>




      <ul class="header__list flex justify-between " id="header__list">
        <li class="header__item p-2">
          <a class="header__link" routerLink="/">Home</a>
        </li>
        <li class="header__item p-2">
          <a class="header__link " routerLink="/aboutus">About US</a>
        </li>
        <li class="header__item p-2">
          <a class="header__link" routerLink="/createplan">Create your plan</a>
        </li>
      </ul>
    </nav>
  </header>
