<app-navbar></app-navbar>
<main>
  <section class="plan-img hero-section border-radius-10 text-cream">
    <div class="hero-section-text flow">
      <h1 class="hero-section-text-h2 ff-fraunces">Create a plan</h1>
      <p class="hero-section-text-p">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam
        necessitatibus a eligendi aliquid fugiat aperiam. Maxime id ex deserunt
        saepe sunt, aut voluptatibus dignissimos placeat a ratione vel
        distinctio dolorum.
      </p>
    </div>
  </section>

  <section class="bg-dark-grey-blue text-cream border-radius-10">
    <div class="three-item-layout three-item-layout-alt">
      <div class="step-status-bar flex">
        <div class="step-status-circle step-status-circle-alt"></div>
        <div class="step-status-circle step-status-circle-alt"></div>
        <div class="step-status-circle step-status-circle-alt"></div>
      </div>
      <div class="three-item-layout-container flex">
        <div class="three-item-layout-item flow">
          <span class="text-pale-orange fs-800 ff-fraunces fw-black">01</span>
          <h3 class="ff-fraunces fs-600">Pick your coffee</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            saepe a quae repellendus facilis! Soluta, culpa! Sapiente maiores at
            nisi earum, vero aperiam saepe quis, sint dolore, accusantium nemo
            dolores?
          </p>
        </div>
        <div class="three-item-layout-item flow">
          <span class="text-pale-orange fs-800 ff-fraunces fw-black">02</span>
          <h3 class="ff-fraunces fs-600">Choose the frequency</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores,
            corporis dolores consequuntur cupiditate, perspiciatis eveniet fugit
            accusantium ab aspernatur esse ad dolorem vero sed nemo nihil nam
            necessitatibus praesentium mollitia!
          </p>
        </div>
        <div class="three-item-layout-item flow">
          <span class="text-pale-orange fs-800 ff-fraunces fw-black">03</span>
          <h3 class="ff-fraunces fs-600">Receive and enjoy!</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
            velit veniam exercitationem obcaecati reprehenderit sequi a aperiam
            doloremque iure similique esse, excepturi, repudiandae modi ab natus
            ea labore quae? Consectetur!
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="plan-container flex">
    <!-- This needs to hidden on mobile and tablet only visible on desktop -->
    <div class="plan-index flow ff-fraunces fs-500 text-grey">
      <h2 data-order-step="1" data-question="1"><span>01</span>Preferences</h2>
      <h2 data-order-step="2" data-question="2"><span>02</span>Bean Type</h2>
      <h2 data-order-step="3" data-question="3"><span>03</span>Quantity</h2>
      <h2 data-order-step="4" data-question="4"><span>04</span>Grind Option</h2>
      <h2 data-order-step="5" data-question="5"><span>05</span>Deliveries</h2>
    </div>
  </section>

  <button
    id="create-plan"
    class="create-plan btn-disabled btn border-radius-8 ff-fraunces fw-bold bg-dark-cyan text-cream"
  >
    Create my plan!
  </button>
</main>

<app-footer></app-footer>
